.navigation-bar-container {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
  padding: 0 20px; /* Optional */
  z-index: 500;
}
.white-background-theme {
  background-color: white;
  color: black;
}

.purple-background-theme {
  background-color: #48316f;
  color: white;
}
.logo-image {
  height: 100%;
  width: auto;
  cursor: pointer;
}
.home-navigation-icon {
  width: 30px;
  height: 30px;
  margin-left: 10vw;
  margin-top: 12px;
  fill: currentColor;
  cursor: pointer;
}
.user-profile-section {
  margin-left: auto;
  display: flex;
  right: 80px;
  top: 40px;
  z-index: 600;
}
.login-button {
  background-color: #febd11;
  border-radius: 5px;
  height: 50px;
  width: 100px;
  color: #2c2c54; /* Dark plum */
}
@media screen and (max-width: 800px) {
  .home-navigation-icon {
    margin-left: 5vw;
  }
  .logo-image {
    height: 90%;
  }
}
@media screen and (max-width: 600px) {
  .home-navigation-icon {
    margin-left: 0;
    width: 25px;
    height: 25px;
  }
  .logo-image {
    height: 80%;
  }
}
.navigation-links-container {
  display: flex;
  gap: 12px;
  margin-left: 16px;
}
.navigation-link-button {
  background-color: transparent;
  color: inherit;
  border: 1px solid currentColor;
  border-radius: 6px;
  padding: 8px 12px;
  cursor: pointer;
}
