.navBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px; /* Set your desired height */
    display: flex;
    align-items: center;
    background-color: #48316F; /* Optional */
    padding: 0 20px; /* Optional */
    z-index: 1000
  }
  
  .img{
    margin-left: 100px;
    height: 100%;
    width: auto;
  }
  