.sideBar{
    position: absolute; /* Positions over right component */
    left: 0;
    top: 72px;
    background-color: #EEEEEE; 
    z-index: 100;
}
.sideBarItem{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-top: 10px;
}
.logo{
    display: flex;
    width:30px;
    justify-self: center;
    height: 30px;
}
.x{
    height: calc(100vh - 120px);
}