.section {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Vertically aligns items */
  border-top: 1px solid #ece6e6; /* Divider at the top */
  border-bottom: 1px solid #ece6e6; /* Divider at the top */
  background-color: #ffffff;
  color: #000000;
  padding: 5px 20px;
  transition: transform 0.6s ease;
  font-size: 15x;
  font-weight: lighter;
  letter-spacing: 0.005em;
  word-spacing: 0.05em;
  cursor: default;
  height: 60px;
  box-sizing: border-box; /* Ensures the padding and border are included in the element's size */
}

/* Ensure the middle divider between sections has consistent appearance */
.section:not(:last-child) {
  border-bottom: none;  /* Only add bottom border if it's not the last section */
}


.section:hover{
  color: #48316F;
  border: 0.1px solid #48316F;
  border-radius: 7px;
}
.buttons{
  display: flex;
  gap: 10px;
}
.buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  font-size: 10px;
  width:40px;
  background-color: purple;
  color:white
}


