.section {
  /* display: flex; */
  display: grid;
  grid-template-columns: 8fr 1fr 1fr;
  justify-content: space-between;
  align-items: center; /* Vertically aligns items */
  border-top: 1px solid #ece6e6; /* Divider at the top */
  border-bottom: 1px solid #ece6e6; /* Divider at the top */
  background-color: #ffffff;
  color: #000000;
  padding: 5px 20px;
  transition: transform 0.6s ease;
  font-size: 15x;
  font-weight: lighter;
  letter-spacing: 0.005em;
  word-spacing: 0.05em;
  cursor: default;
  height: 90px;
  box-sizing: border-box; /* Ensures the padding and border are included in the element's size */
  
}
.section h2{
  flex-grow: 1; /* Allow the span to take up remaining space */
  overflow: hidden; /* Ensure text doesn't overflow the container */
  text-overflow: ellipsis; /* Show ellipsis when the text overflows */
  white-space: nowrap; /* Prevent text wrapping */
}
/* Ensure the middle divider between sections has consistent appearance */
.section:not(:last-child) {
  border-bottom: none;  /* Only add bottom border if it's not the last section */
}


.section:hover{
  color: #48316F;
  border: 0.1px solid #48316F;
  border-radius: 7px;
}
.fillHeight{
  display: flex;
  height: 100%;
  align-items: center;
}
.date{ 
  margin-right:5%;
  width: 10vw;
  min-width: 90px;
  margin-right: 20px;
}
.buttons{
  display: flex;
  align-items: center;
  gap: 10px;
  width: 15vw;
  min-width: 160px;
}
.buttons small{
  flex-grow: 1;
  overflow: hidden; /* Ensure text doesn't overflow the container */
  text-overflow: ellipsis; /* Show ellipsis when the text overflows */
  /* white-space: nowrap; Prevent text wrapping */
  max-width: 20vw;
  margin-right: 15px
}
.buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  font-size: 10px;
  width:40px;
  min-width: 40px;
  background-color: purple;
  color:white;
  border-radius: 5px;
}
.toggle{
  position: relative; /* Keeps it within the normal document flow */

}
@media screen and (max-width:600px){
  .date{
    display: none;
  }
}

